@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.login-page {
  min-height: 100vh;
  background: #f5f5f5;

  .login-page-container {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;

    &-left {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      padding-top: 90px;

      img {
        margin-bottom: 60px;
      }

      form {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 45px;

        .primaryInput {
          background: $white;
          border: 1px solid #dcdbdb;
          border-radius: 8px;
          width: 270px;
          height: 45px;

          .MuiOutlinedInput-root {
            height: 100%;
          }
        }

        .primaryBtn {
          font-size: 18px;
          border-radius: 2rem;
          margin: 0 auto;
          display: flex;
          margin-bottom: 1.5rem;
          width: 100%;
          box-shadow: none;
          text-transform: none;
          font-weight: 700;
          line-height: 21px;

          &--filled {
            background: $orange-gradient;
            padding: 9px 0px;
          }
        }
      }

      @include sm {
        max-width: unset;
      }
    }

    &-right {
      display: flex;
      align-items: flex-end;

      .right-side {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    @include lg {
      flex-direction: column;
      align-items: center;
    }
  }
}
