$orange: #e9513e;
$white: #ffffff;
$black: #000000;
$orange-gradient: radial-gradient(
  84.88% 84.88% at 50% 15.12%,
  #e7463f 0%,
  #ef8439 100%
);




$screen-xs-max: 376px;
$screen-sm-max: 600px;
// Small tablets (portrait view)
$screen-md-max: 768px;
// Tablets and small desktops
$screen-lg-max: 992px;
$screen-lm-max: 1024px;
// Large tablets and desktops
$screen-xl-max: 1230px;
