@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.issues-container {
  flex-direction: column !important;
  padding: 50px;
  align-items: flex-end;

  .issues-header {
    button {
      margin-left: 30px;
      text-transform: none;
      border-radius: 16px;
    }

    .MuiButton-outlined {
      background: #ffffff;
      border: 1px solid $orange;
      color: $orange;
    }

    .MuiButton-contained {
      background: $orange-gradient;
    }
  }

  .issues-section {
    background: $white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 30px 60px;
    margin-top: 50px;
    max-width: 1500px;
    width: 100%;

    h6 {
      color: $orange;
    }

    p {
      color: #898787;
    }

    form {
      margin-top: 70px;

      .issues-section-first {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 150px;
        align-items: start;
        gap: 50px;

        .description {
          grid-column: 1/3;
        }
      }

      .issues-section-second {
        display: grid;
        grid-template-columns: 1fr 1fr 150px;
        gap: 50px;
      }
    }

    .select-input {
      width: 100% !important;
      max-width: 623px !important;
    }

    button {
      text-transform: none;
      border-radius: 25px;
      padding: 7px 40px;
      height: 45px;
    }

    .MuiButton-contained {
      background: $orange-gradient;
    }

    .issue-contact {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}
