@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page-container {
  width: 100% !important;
  min-height: 100vh !important;
  margin: 0 auto !important;
  flex-direction: row;

  .header {
    background: $white;
    border-bottom: 0.5px solid #e2e2e2;
    height: 70px;
    width: 100%;
  }

  .dashboard {
    background: #f5f5f5;
    width: 100%;
    min-height: calc(100vh - 71px);

    .dashboard-container {
      &-left-side {
        overflow: hidden;
        -webkit-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
        transition-delay: 0s;
        background: $white;
        border-right: 0.5px solid #e2e2e2;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
        min-height: calc(100vh - 71px);

        .list-container {
          width: 100%;
          height: fit-content;
          margin-bottom: 20px;

          .list-item {
            padding: 16px;
            &:hover {
              background: radial-gradient(
                84.88% 84.88% at 50% 15.12%,
                rgba(231, 70, 63, 0.2) 0%,
                rgba(239, 132, 57, 0.2) 100%
              );
              color: $black;
            }

            &-no-border {
              border-top: none;
            }

            &-no-text {
              opacity: 0;
            }
          }

          .list-item-options {
            &:hover {
              background: radial-gradient(
                84.88% 84.88% at 50% 15.12%,
                rgba(231, 70, 63, 0.2) 0%,
                rgba(239, 132, 57, 0.2) 100%
              );
            }
          }
          .list-item-active {
            background: radial-gradient(
              84.88% 84.88% at 50% 15.12%,
              #e7463f 0%,
              #ef8439 100%
            );
            color: $white;

            svg {
                path {
                    fill: $white;
                }
            }
            &:hover {
              background: radial-gradient(
                84.88% 84.88% at 50% 15.12%,
                rgba(231, 70, 63, 0.2) 0%,
                rgba(239, 132, 57, 0.2) 100%
              );
              color: $black;
              svg {
                path {
                  fill:  #E7463F;
                }
              }
            }
          }

          .list-item-border {
            border-top: 1px solid #e2e2e2;
          }

          .list-item-no-border {
            padding: 16px;
          }
        }
      }

      &-right-side {
        width: calc(100% - 260px);
      }
    }
  }
}
